.home-container {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.home-heading {
  color: #fff;
  font-size: 30px;
}

.home-description {
  color: #fff;
  font-size: 18px;
}

.find-job-button {
  height: 30px;
  font-size: 15px;
  color: #fff;
  width: 100px;
  background-color: #6366f1;
  border: none;
  border-radius: 10px;
}
